* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;  
}
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-dark-color: #10121A;
    --background-dark-grey: #191D2B;
    --border-color: #2e344e;
    --background-light-color: #F1F1F1;
    --background-light-color-2: rgba(3, 127, 255, 0.3);
    --white-color: #FFF;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191D2B;
    --scrollbar-bg-color: #383838;
    --scrollbar-thumb-color: #6b6b6b;
    --scrollbar-width: 12px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--scrollbar-bg-color);
    color: var(--text-color);
}
.wrapper{
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2rem;
    
    
}
.cover {
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;
}

cover.cover-left {
    z-index: -1;
}
.cover.cover-right.turn{
    transform: rotateY(180deg);
}
.book{                  
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.book .book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 .6rem rgba(0, 0, 0, .1);
    display: flex;
    padding: 2rem;
}
.profile-page{
    background: seagreen;
}
.profile-page img{
    max-width: 180px;
    border-radius: 50%;
    border: .25rem solid var(--main-color);
    margin-bottom: .8rem;
}
